In [1]:
import json
import pandas as pd

In [10]:
cities = ['Bristol', 'Leeds', 'London', 'Manchester', 'West-Midlands']
full_data = []
max_block_id=120

for city in cities:
    file = open(city + '.geojson',)
    compactnes_file = open('../../Evaluator/Compatcness-Evaluation/' + city + '.compact')
    
    geojson_content = json.load(file)
    file.close()
    
    compactness_content = [float(line.split('\n')[0]) for line in compactnes_file.readlines()]
    compactnes_file.close()
    
    for index, block in enumerate(geojson_content['features']):
        block_id = int(block['properties']['ID'])
        
        if block_id >= max_block_id:
            continue
        
        name = block['properties']['NAME']
        population = block['properties']['POPULATION']
        area = block['properties']['AREA']
        density = block['properties']['DENSITY']

        data = {
            'id': block_id,
            'city': city,
            'name': name,
            'density': density,
            'population': population,
            'area': area,
            'compactness': compactness_content[index]
        }
        
        full_data.append(data)

In [13]:
df = pd.DataFrame(full_data)
df.head(123)

,id,city,name,density,population,area,compactness
0,0,Bristol,Bristol 054,4800.999161,9415,1.961050,0.459003
1,1,Bristol,Bristol 032,7388.474698,18164,2.458424,0.361184
2,2,Bristol,Bristol 025,12721.645385,10114,0.795023,0.251370
3,3,Bristol,Bristol 023,10564.116160,13376,1.266173,0.433619
4,4,Bristol,Bristol 056,5061.216188,8238,1.627672,0.300791
...,...,...,...,...,...,...,...
118,118,Bristol,Bath and North East Somerset 012,2057.339332,13140,6.386890,0.403820
119,119,Bristol,Bath and North East Somerset 014,6257.847808,6010,0.960394,0.453255
120,0,Leeds,Leeds 111,5055.574938,13345,2.639660,0.594358
121,1,Leeds,Leeds 082,4299.043377,8655,2.013239,0.402240
122,2,Leeds,Leeds 112,1673.918270,8305,4.961413,0.285665

In [14]:
df_by_city = df.groupby('city').agg({'density': ['describe'],'population': ['describe'], 'area': ['describe'], 'compactness': ['describe']})
df_by_city.head()

               density                                                        \
              describe
                 count          mean          std          min           25%
city
Bristol          120.0   3915.254183  2892.387710    63.162478   1484.545687
Leeds            120.0   3606.834331  3408.642114   143.245657   1625.110076
London           120.0  15148.233302  4905.636810  2756.244092  11766.859698
Manchester       120.0   4871.660580  2578.544193  1121.927080   3265.112328
West-Midlands    120.0   5512.994280  2411.435809  1994.023154   3972.822215

                                                        population  \
                                                          describe
                        50%           75%           max      count
city
Bristol         3740.172744   5566.303687  12721.645385      120.0
Leeds           2903.115359   4395.165346  25195.240820      120.0
London         15173.242155  17940.740362  28274.753463      120.0
Manchester      4409.295032   5966.483920  16364.867256      120.0
West-Midlands   5205.233233   6187.992627  17056.396265      120.0

                            ...      area             compactness            \
                            ...  describe                describe
                      mean  ...       75%         max       count      mean
city                        ...
Bristol        8317.175000  ...  5.126614  171.209243       120.0  0.404708
Leeds          7532.675000  ...  4.672325   51.786713       120.0  0.434231
London         9682.866667  ...  0.803102    3.580523       120.0  0.425239
Manchester     8694.691667  ...  2.649949    6.691442       120.0  0.424571
West-Midlands  8714.591667  ...  2.083876    4.391506       120.0  0.435936



                    std       min       25%       50%       75%       max
city
Bristol        0.101341  0.185785  0.325046  0.404744  0.476844  0.654708
Leeds          0.094968  0.252492  0.363758  0.430902  0.487140  0.673881
London         0.089241  0.213026  0.362424  0.432712  0.486084  0.629345
Manchester     0.099910  0.201742  0.352964  0.420581  0.489141  0.662165
West-Midlands  0.092843  0.215235  0.378209  0.441909  0.503924  0.608856

[5 rows x 32 columns]

In [15]:
df_transpose = df_by_city.transpose()
df_transpose

city                             Bristol         Leeds        London  \
density     describe count    120.000000    120.000000    120.000000
                     mean    3915.254183   3606.834331  15148.233302
                     std     2892.387710   3408.642114   4905.636810
                     min       63.162478    143.245657   2756.244092
                     25%     1484.545687   1625.110076  11766.859698
                     50%     3740.172744   2903.115359  15173.242155
                     75%     5566.303687   4395.165346  17940.740362
                     max    12721.645385  25195.240820  28274.753463
population  describe count    120.000000    120.000000    120.000000
                     mean    8317.175000   7532.675000   9682.866667
                     std     2292.036439   1643.832922   2027.984063
                     min     5545.000000   5195.000000   6576.000000
                     25%     6483.500000   6367.250000   8169.000000
                     50%     7676.000000   7262.000000   9398.000000
                     75%     9704.750000   8176.750000  10661.000000
                     max    18164.000000  14055.000000  16174.000000
area        describe count    120.000000    120.000000    120.000000
                     mean      10.335839      4.672766      0.749480
                     std       22.421916      7.216513      0.474891
                     min        0.630919      0.345343      0.299483
                     25%        1.373356      1.644957      0.525556
                     50%        1.985127      2.512688      0.637600
                     75%        5.126614      4.672325      0.803102
                     max      171.209243     51.786713      3.580523
compactness describe count    120.000000    120.000000    120.000000
                     mean       0.404708      0.434231      0.425239
                     std        0.101341      0.094968      0.089241
                     min        0.185785      0.252492      0.213026
                     25%        0.325046      0.363758      0.362424
                     50%        0.404744      0.430902      0.432712
                     75%        0.476844      0.487140      0.486084
                     max        0.654708      0.673881      0.629345

city                          Manchester  West-Midlands
density     describe count    120.000000     120.000000
                     mean    4871.660580    5512.994280
                     std     2578.544193    2411.435809
                     min     1121.927080    1994.023154
                     25%     3265.112328    3972.822215
                     50%     4409.295032    5205.233233
                     75%     5966.483920    6187.992627
                     max    16364.867256   17056.396265
population  describe count    120.000000     120.000000
                     mean    8694.691667    8714.591667
                     std     2356.012472    2056.855553
                     min     5261.000000    5437.000000
                     25%     6960.500000    7428.500000
                     50%     8321.500000    8190.500000
                     75%     9831.750000    9765.750000
                     max    15865.000000   17123.000000
area        describe count    120.000000     120.000000
                     mean       2.222442       1.809292
                     std        1.167082       0.747064
                     min        0.591516       0.529889
                     25%        1.432331       1.280640
                     50%        1.904324       1.682347
                     75%        2.649949       2.083876
                     max        6.691442       4.391506
compactness describe count    120.000000     120.000000
                     mean       0.424571       0.435936
                     std        0.099910       0.092843
                     min        0.201742       0.215235
                     25%        0.352964       0.378209
                     50%        0.420581       0.441909
                     75%        0.489141       0.503924
                     max        0.662165       0.608856

In [19]:
df_transpose.to_clipboard(sep='\t')